"Dataset_02.csv"
1. 해당 데이터에 대한 EDA 를 수행하고 여성으로 혈압이 High, Cholesterol이 Normal 인 환자의 전체에 대비한 비율이 얼마인지 소수점 네번째 자리에서 반올림하여 소수점 셋째 자리까지 기술하시오.
2. Age, Sex, BP, Cholesterol 및 Na_to_K 값이 Drug 타입에 영향을 미치는지 확인하기 위하여 아래와 같이 데이터를 변환하고 분석을 수행하시오. 
-Age_gr컬럼을 만들고, Age가20 미만은 ‘10’, 20부터 30 미만은 ‘20’, 30부터 40 미만은 ‘30’, 
40부터 50 미만은 ‘40’, 50부터 60 미만은 ‘50’, 60이상은 ‘60’으로 변환하시오. 
- Na_K_gr컬럼을 만들고 Na_to_k 값이 10이하는 ‘Lv1’, 20이하는 ‘Lv2’, 30이하는 ‘Lv3’, 30 
초과는 ‘Lv4’로 변환하시오.
- Sex, BP, Cholesterol, Age_gr, Na_K_gr이Drug 변수와 영향이 있는지 독립성 검정을
수행하시오.
-검정 수행 결과, Drug 타입과 연관성이 있는 변수는 몇 개인가? 연관성이 있는 변수 가운데 가장
큰 p-value를찾아 소수점 여섯 번째 자리 이하는 버리고 소수점 다섯 번째 자리까지 기술하시오.

3.Sex, BP, Cholesterol 등 세 개의 변수를 다음과 같이 변환하고 의사결정나무를 이용한 분석을
수행하시오.
- Sex는 M을 0, F를 1로 변환하여 Sex_cd변수 생성
-BP는 LOW는 0, NORMAL은1 그리고 HIGH는 2로 변환하여 BP_cd변수 생성
-Cholesterol은NORMAL은 0, HIGH는 1로 변환하여 Ch_cd생성
-Age, Na_to_k, Sex_cd, BP_cd, Ch_cd를Feature로, Drug을Label로하여 의사결정나무를
수행하고 Root Node의split feature와split value를기술하시오. 
이 때 split value는소수점 셋째 자리까지 반올림하여 기술하시오. (답안 예시) Age, 12.345
3

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Dataset_02.csv")
df.head(2)

   Age Sex    BP Cholesterol  Na_to_K   Drug
0   23   F  HIGH        HIGH   25.355  DrugY
1   47   M   LOW        HIGH   13.093  drugC

In [11]:
df_condi = df.loc[(df["Sex"] == "F") & (df["BP"] == "HIGH") & (df["Cholesterol"] == "NORMAL")]

In [21]:
print(len(df_condi)/len(df))

0.21