"Dataset_01.csv"
1. 데이터 세트 내에 총 결측값의 개수는 몇개인가?
2. Tv, Radio, Social Media 등 세가지 다른 마케팅 채널의 예산과 매출액과의 상관분석을 통하여 각 채널이 매출에 어느 정도 연관이 있는지 알아보고자 한다. 
- 매출액과 가장 강한 상관관계를 가지고 있는 채널의 상관계수를 소수점 5번째 자리에서 반올림하여 소수 넷째짜리 까지 기술하시오. 
3. 매출액을 종속변수, TV, Radio, Social Media 의 예산을 독립변수로 하여 회귀분석을 수행하였을 때, 세개의 독립변수의 회귀계수를 큰것에서부터 작은 것 순으로 기술하시오.

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("Dataset_01.csv")
df.head(2)

     TV     Radio  Social_Media Influencer      Sales
0  16.0  6.566231      2.907983       Mega  54.732757
1  13.0  9.237765      2.409567       Mega  46.677897

In [10]:
df.isna().sum().sum()

26

//--------------------------------------------------------

In [15]:
df.corr().round(4)

                  TV   Radio  Social_Media   Sales
TV            1.0000  0.8695        0.5282  0.9995
Radio         0.8695  1.0000        0.6075  0.8691
Social_Media  0.5282  0.6075        1.0000  0.5289
Sales         0.9995  0.8691        0.5289  1.0000

//----------------------------------------------------------

In [16]:
from sklearn.linear_model import LinearRegression

In [19]:
df_1 = df.dropna()

In [24]:
model = LinearRegression().fit(X = df_1[["TV", "Radio", "Social_Media"]],
                              y = df_1["Sales"])

In [25]:
model.coef_.round(5)

array([ 3.56257, -0.00397,  0.00496])