In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Dataset_12.csv")

In [10]:
df.corr()

                         Age  Dependent_Count  is_Married  Read_Book_per_Year
Age                 1.000000        -0.143767    0.040360            0.796843
Dependent_Count    -0.143767         1.000000    0.024472           -0.132591
is_Married          0.040360         0.024472    1.000000            0.027221
Read_Book_per_Year  0.796843        -0.132591    0.027221            1.000000

In [12]:
df.corr().iloc[:-1,[-1] ].max()

Read_Book_per_Year    0.796843
dtype: float64

In [13]:
df.corr().reset_index().melt(id_vars = "index")

                 index            variable     value
0                  Age                 Age  1.000000
1      Dependent_Count                 Age -0.143767
2           is_Married                 Age  0.040360
3   Read_Book_per_Year                 Age  0.796843
4                  Age     Dependent_Count -0.143767
5      Dependent_Count     Dependent_Count  1.000000
6           is_Married     Dependent_Count  0.024472
7   Read_Book_per_Year     Dependent_Count -0.132591
8                  Age          is_Married  0.040360
9      Dependent_Count          is_Married  0.024472
10          is_Married          is_Married  1.000000
11  Read_Book_per_Year          is_Married  0.027221
12                 Age  Read_Book_per_Year  0.796843
13     Dependent_Count  Read_Book_per_Year -0.132591
14          is_Married  Read_Book_per_Year  0.027221
15  Read_Book_per_Year  Read_Book_per_Year  1.000000

//----------------------------------------------------------------------------------------------

In [15]:
from scipy.stats import ttest_ind

In [19]:
stat, p = ttest_ind(df.loc[df["Education_Level"].isin(["석사","박사"]), "Read_Book_per_Year"],
                    df.loc[~df["Education_Level"].isin(["석사","박사"]), "Read_Book_per_Year"],
                    )
print(round(p, 3))

0.269

//---------------------------------------------------------------

In [20]:
df.head(2)

,Age,Gender,Dependent_Count,Education_Level,is_Married,Read_Book_per_Year,Income_Range
0,52,M,2,석사,1,45,D
1,46,F,4,박사,1,26,X

In [22]:
df["Education_Level"].unique()

array(['석사', '박사', '학사', '고졸'], dtype=object)

In [21]:
df_q3 = df.copy()

In [23]:
df_q3 = df_q3.loc[(df_q3["Education_Level"] != "고졸") & (df_q3["Income_Range"] != "X"), ]

In [24]:
print(len(df))
print(len(df_q3))

5000
3088

In [26]:
from statsmodels.formula.api import ols

In [27]:
model = ols("Read_Book_per_Year ~ Age + Dependent_Count + is_Married", 
            data = df_q3).fit()

In [28]:
model

In [30]:
model.params["Age"]

0.7964402066284877

In [31]:
round(model.params["Age"] * 10)

8