In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("customer_info_5k.csv")
df.head(2)

,Age,Gender,Dependent_Count,Education_Level,is_Married,Read_Book_per_Year,Income_Range
0,52,M,2,석사,1,45,D
1,46,F,4,박사,1,26,X

### [[ 문제 1]]

In [5]:
df.corr().round(3)

                      Age  Dependent_Count  is_Married  Read_Book_per_Year
Age                 1.000           -0.144       0.040               0.797
Dependent_Count    -0.144            1.000       0.024              -0.133
is_Married          0.040            0.024       1.000               0.027
Read_Book_per_Year  0.797           -0.133       0.027               1.000

### [[ 문제 2]]

In [6]:
df["is_grad"] = (df["Education_Level"].isin(["석사", "박사"]) + 0)

In [7]:
from scipy.stats import ttest_ind

In [20]:
stat, p = ttest_ind(df.loc[df["is_grad"] == 0, "Read_Book_per_Year"],
                    df.loc[df["is_grad"] == 1, "Read_Book_per_Year"],
                    equal_var = True)
round(p, 3)

0.269

### [[ 문제 3]]

In [12]:
from statsmodels.formula.api import ols

In [10]:
df_q3 = df.loc[(df["Education_Level"] != "고졸") & (df["Income_Range"] != "X"), ].copy()
df_q3.head(2)

,Age,Gender,Dependent_Count,Education_Level,is_Married,Read_Book_per_Year,Income_Range,is_grad
0,52,M,2,석사,1,45,D,1
2,53,F,0,석사,0,48,A,1

In [13]:
formula = "Read_Book_per_Year ~ Age + Dependent_Count + is_Married"
model = ols(formula = formula, data = df_q3).fit()

In [14]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     Read_Book_per_Year   R-squared:                       0.638
Model:                            OLS   Adj. R-squared:                  0.638
Method:                 Least Squares   F-statistic:                     1813.
Date:                Mon, 17 May 2021   Prob (F-statistic):               0.00
Time:                        00:01:50   Log-Likelihood:                -9269.2
No. Observations:                3088   AIC:                         1.855e+04
Df Residuals:                    3084   BIC:                         1.857e+04
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -0.3821      0.573     -0.667      0.505      -1.506       0.742
Age                 0.7964      0.011     72.205      0.000       0.775       0.818
Dependent_Count    -0.2503      0.069     -3.648      0.000      -0.385      -0.116
is_Married          0.0496      0.176      0.281      0.778      -0.296       0.395
==============================================================================
Omnibus:                       32.135   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               32.864
Skew:                          -0.249   Prob(JB):                     7.30e-08
Kurtosis:                       3.085   Cond. No.                         310.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [19]:
model.params

Intercept         -0.382146
Age                0.796440
Dependent_Count   -0.250269
is_Married         0.049624
dtype: float64

In [18]:
round(model.params[1] * 10)

8