In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("online_courses_2014_2016.csv")
df.head(2)

,id,published,subject,level,price,subscribers,reviews,lectures,duration
0,1,2015-07-10,Business Finance,Beginner Level,1.7,56,8,18,2.000000
1,2,2016-10-25,Business Finance,All Levels,17.4,336,6,13,0.683333

### [[ 문제 1 ]]

In [3]:
df["income"] = df["price"] * df["subscribers"]
df["review_rate"] = df["reviews"] / df["subscribers"]
df.head(2)

,id,published,subject,level,price,subscribers,reviews,lectures,duration,income,review_rate
0,1,2015-07-10,Business Finance,Beginner Level,1.7,56,8,18,2.000000,95.2,0.142857
1,2,2016-10-25,Business Finance,All Levels,17.4,336,6,13,0.683333,5846.4,0.017857

In [4]:
sum((df["income"] >= 10000) & (df["review_rate"] >= 0.1))

59

### [[ 문제 2 ]]

In [5]:
df["published"] = pd.to_datetime(df["published"])
df["year"] = df["published"].dt.year
df.head(2)

,id,published,subject,level,price,subscribers,reviews,lectures,duration,income,review_rate,year
0,1,2015-07-10,Business Finance,Beginner Level,1.7,56,8,18,2.000000,95.2,0.142857,2015
1,2,2016-10-25,Business Finance,All Levels,17.4,336,6,13,0.683333,5846.4,0.017857,2016

In [6]:
df_sub = df.loc[(df["year"] == 2016) & (df["subject"] == "Web Development"), ]
df_sub.head(2)

,id,published,subject,level,price,subscribers,reviews,lectures,duration,income,review_rate,year
6,7,2016-10-24,Web Development,Intermediate Level,17.4,9773,117,65,4.5,170050.2,0.011972,2016
36,37,2016-04-05,Web Development,All Levels,17.0,12068,81,12,1.5,205156.0,0.006712,2016

In [7]:
df_sub[["price", "subscribers"]].corr()

                price  subscribers
price        1.000000     0.034392
subscribers  0.034392     1.000000

In [8]:
round(0.034392, 2)

0.03

### [[ 문제 3 ]]

In [9]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [10]:
model = ols(formula = "review_rate ~ C(year)", data = df).fit()
anova_lm(model)

              df     sum_sq   mean_sq          F        PR(>F)
C(year)      2.0   0.365685  0.182842  18.542038  1.049908e-08
Residual  1997.0  19.692334  0.009861        NaN           NaN

In [11]:
round(18.542038, 1)

18.5