In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("DS_Job_Change_train.csv")
df.head(2)

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target
0,0.516,Male,1,0,Graduate,STEM,13,5,36,1
1,0.766,Male,1,0,Graduate,STEM,12,5,264,0

### [[ 문제 1 ]]
\- 상관계수는 반올림하여 소수점 둘 째 자리까지 기술하시오.

In [3]:
df.groupby(["gender"])[["experience", "last_new_job"]].corr()

                     experience  last_new_job
gender
Female experience      1.000000      0.451898
       last_new_job    0.451898      1.000000
Male   experience      1.000000      0.411155
       last_new_job    0.411155      1.000000

In [4]:
round(0.451898, 2)

0.45

### [[ 문제 2 ]]

In [5]:
from scipy.stats import chi2_contingency

In [6]:
df_q2 = df.loc[(df["major_discipline"] == "STEM") & (df["city_development_index"] > df["city_development_index"].quantile(0.85)), ]
df_q2.head(2)

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target
6,0.939,Female,1,0,Graduate,STEM,9,5,148,0
14,0.939,Male,1,0,Masters,STEM,20,1,73,0

In [7]:
len(df_q2)

145

In [8]:
stat, p, dof, exp_v = chi2_contingency(pd.crosstab(df_q2["relevent_experience"], df_q2["target"]))

In [9]:
round(p, 2)

0.64

### [[ 문제 3 ]]

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
df.head(2)

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target
0,0.516,Male,1,0,Graduate,STEM,13,5,36,1
1,0.766,Male,1,0,Graduate,STEM,12,5,264,0

In [12]:
drop_cols = ["target", "gender", "education_level", "major_discipline"]
model = DecisionTreeClassifier(random_state=123).fit(X = df.drop(drop_cols, axis = 1), y = df["target"])
model

DecisionTreeClassifier(random_state=123)

In [13]:
df_test = pd.read_csv("DS_Job_Change_test.csv")
df_test.head(2)

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target
0,0.624,Male,0,1,Graduate,STEM,3,1,34,1
1,0.682,Male,0,1,Graduate,STEM,7,0,21,1

In [14]:
pred = model.predict(df_test.drop(drop_cols, axis = 1))

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
round(accuracy_score(y_true = df_test["target"], y_pred = pred), 2)

0.67