In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Dataset_01.csv")

In [3]:
df.isna().sum().sum()

26

In [4]:
df_1 = df.copy()

In [9]:
df_1.corr()

                    TV     Radio  Social_Media     Sales
TV            1.000000  0.869460      0.528168  0.999497
Radio         0.869460  1.000000      0.607452  0.869105
Social_Media  0.528168  0.607452      1.000000  0.528906
Sales         0.999497  0.869105      0.528906  1.000000

In [26]:
from sklearn.linear_model import LinearRegression

In [31]:
df_1=df_1.dropna()

In [32]:
df_1[['TV', 'Radio', 'Social_Media']]

        TV      Radio  Social_Media
0     16.0   6.566231      2.907983
1     13.0   9.237765      2.409567
2     41.0  15.886446      2.913410
3     83.0  30.020028      6.922304
4     15.0   8.437408      1.405998
...    ...        ...           ...
4567  26.0   4.472360      0.717090
4568  71.0  20.610685      6.545573
4569  44.0  19.800072      5.096192
4570  71.0  17.534640      1.940873
4571  42.0  15.966688      5.046548

[4546 rows x 3 columns]

In [33]:
df_1[['Sales']]

           Sales
0      54.732757
1      46.677897
2     150.177829
3     298.246340
4      56.594181
...          ...
4567   94.685866
4568  249.101915
4569  163.631457
4570  253.610411
4571  148.202414

[4546 rows x 1 columns]

In [35]:
model = LinearRegression().fit(X = df_1[['TV', 'Radio', 'Social_Media']],
                       y=df_1['Sales'])

In [36]:
model.coef_

array([ 3.56256963, -0.00397039,  0.00496402])

In [37]:
df2 = pd.read_csv("Dataset_02.csv")

In [38]:
df2.head(1)

   Age Sex    BP Cholesterol  Na_to_K   Drug
0   23   F  HIGH        HIGH   25.355  DrugY

In [49]:
len(df2.loc[(df2.Sex=='F')&(df2.BP=='HIGH')&(df2.Cholesterol=='NORMAL')])

21

In [50]:
len(df2)

200

In [51]:
21/200

0.105

In [52]:
import numpy as np

In [102]:
df2['Sex_cd'] = (df2['Sex'] == 'F') + 0

In [78]:
df2['BP_cd'] = np.where(df2.BP == 'LOW', 0, 
                       np.where(df2.BP == 'NORMAL', 1, 2))

In [86]:
df2['Ch_cd'] = (df2['Cholesterol'] == 'NORMAL') + 1

In [87]:
df2.head(2)

,Age,Sex,BP,Cholesterol,Na_to_K,Drug,Age_gr,Na_K_gr,Sex_cd,BP_cd,Ch_cd
0,23,F,HIGH,HIGH,25.355,DrugY,20,Lv3,1,2,1
1,47,M,LOW,HIGH,13.093,drugC,40,Lv2,0,0,1

In [53]:
df2['Age_gr'] = np.where(df2.Age<20, 10, 
                        np.where(df2.Age<30, 20, 
                                np.where(df2.Age<40, 30, 
                                        np.where(df2.Age<50, 40, 
                                                np.where(df2.Age<60, 50, 60)))))

In [54]:
df2.head(2)

   Age Sex    BP Cholesterol  Na_to_K   Drug  Age_gr
0   23   F  HIGH        HIGH   25.355  DrugY      20
1   47   M   LOW        HIGH   13.093  drugC      40

In [56]:
df2['Na_K_gr']=np.where(df2.Na_to_K<10, 'Lv1', 
                       np.where(df2.Na_to_K<20, 'Lv2', 
                               np.where(df2.Na_to_K<30, 'Lv3', 'Lv4')))

In [60]:
from scipy.stats import chi2_contingency

In [58]:
obs = np.array([[10, 10, 20], [20, 20, 20]])

AttributeError: 'DataFrame' object has no attribute 'Age'

In [96]:
stat, p, doef, exp = chi2_contingency(pd.crosstab(df2['Drug'], df2['Age_gr']))

In [97]:
p

0.0007010113024729462

In [98]:
stat, p, doef, exp = chi2_contingency(pd.crosstab(df2['Na_K_gr'], df2['Drug']))

In [99]:
p

1.1254641594413981e-14

In [117]:
stat, p, doef, exp = chi2_contingency(pd.crosstab(df2['Sex'], df2['Drug']))

In [118]:
p

0.7138369773987128

In [113]:
stat, p, doef, exp = chi2_contingency(pd.crosstab(df2['BP'], df2['Drug']))

In [114]:
p

5.0417334144665895e-27

In [115]:
stat, p, doef, exp = chi2_contingency(pd.crosstab(df2['Cholesterol'], df2['Drug']))

In [116]:
p

0.0005962588389856497

In [129]:
from sklearn.tree import DecisionTreeClassifier, export_text
from sklearn.tree import export_graphviz

In [130]:
var=['Age', 'Na_to_K', 'Sex_cd', 'BP_cd', 'Ch_cd']

In [131]:
model = DecisionTreeClassifier().fit(X=df2[var], y=df2['Drug'])

In [132]:
print(export_graphviz(model, 
                      feature_names = ["Age", "Na_to_K", "Sex_cd", "BP_cd", "Ch_cd"]))

digraph Tree {
node [shape=box] ;
0 [label="Na_to_K <= 14.829\ngini = 0.694\nsamples = 200\nvalue = [91, 23, 16, 16, 54]"] ;
1 [label="BP_cd <= 1.5\ngini = 0.667\nsamples = 109\nvalue = [0, 23, 16, 16, 54]"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="BP_cd <= 0.5\ngini = 0.353\nsamples = 70\nvalue = [0, 0, 0, 16, 54]"] ;
1 -> 2 ;
3 [label="Ch_cd <= 1.5\ngini = 0.498\nsamples = 34\nvalue = [0, 0, 0, 16, 18]"] ;
2 -> 3 ;
4 [label="gini = 0.0\nsamples = 16\nvalue = [0, 0, 0, 16, 0]"] ;
3 -> 4 ;
5 [label="gini = 0.0\nsamples = 18\nvalue = [0, 0, 0, 0, 18]"] ;
3 -> 5 ;
6 [label="gini = 0.0\nsamples = 36\nvalue = [0, 0, 0, 0, 36]"] ;
2 -> 6 ;
7 [label="Age <= 50.5\ngini = 0.484\nsamples = 39\nvalue = [0, 23, 16, 0, 0]"] ;
1 -> 7 ;
8 [label="gini = 0.0\nsamples = 23\nvalue = [0, 23, 0, 0, 0]"] ;
7 -> 8 ;
9 [label="gini = 0.0\nsamples = 16\nvalue = [0, 0, 16, 0, 0]"] ;
7 -> 9 ;
10 [label="gini = 0.0\nsamples = 91\nvalue = [91, 0, 0, 0, 0]"] ;
0 -> 10 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
}

In [128]:
export_text(model)

'|--- feature_1 <= 14.83\n|   |--- feature_3 <= 1.50\n|   |   |--- feature_3 <= 0.50\n|   |   |   |--- feature_4 <= 1.50\n|   |   |   |   |--- class: drugC\n|   |   |   |--- feature_4 >  1.50\n|   |   |   |   |--- class: drugX\n|   |   |--- feature_3 >  0.50\n|   |   |   |--- class: drugX\n|   |--- feature_3 >  1.50\n|   |   |--- feature_0 <= 50.50\n|   |   |   |--- class: drugA\n|   |   |--- feature_0 >  50.50\n|   |   |   |--- class: drugB\n|--- feature_1 >  14.83\n|   |--- class: DrugY\n'

In [133]:
df3 = pd.read_csv("Dataset_03.csv")

In [134]:
df3['forehead_ratio'] = df3['forehead_width_cm']/df3['forehead_height_cm']

In [136]:
mean=df3['forehead_ratio'].mean()

In [137]:
std=df3['forehead_ratio'].std()

In [138]:
UU = mean+(3*std)

In [139]:
LL=mean-(3*std)

In [142]:
((df3['forehead_ratio'] < LL ) | (df3['forehead_ratio'] > UU)).sum()

3

In [162]:
from scipy.stats import ttest_ind

In [166]:
df3_M = df3[df3['gender']=='Male']['forehead_ratio']

In [167]:
df3_F =df3[df3['gender']=='Female']['forehead_ratio']

In [169]:
ttest_ind(df3_M, df3_F, equal_var=False)

Ttest_indResult(statistic=2.9994984197511543, pvalue=0.0027186702390657176)

In [245]:
from sklearn.model_selection import train_test_split

In [246]:
df3_train, df3_test = train_test_split(df3, random_state=123, test_size=0.3)

In [253]:
var = df3.columns.drop('gender','forehead_ratio')

In [255]:
var = df3.columns.drop('forehead_ratio')

AttributeError: 'Index' object has no attribute 'columns'

In [256]:
print(var)

Index(['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender'],
      dtype='object')

In [257]:
from sklearn.linear_model import LinearRegression

In [266]:
model = LogisticRegression().fit(X = df3_train[var],
                                 y = df3_train["gender"])

ValueError: could not convert string to float: 'Male'

In [269]:
df = pd.read_csv('Dataset_03.csv')

In [270]:
df.head(2)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female

In [271]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, random_state=123, test_size=0.3)
from sklearn.linear_model import LinearRegression
var=df.columns.drop('gender')
logit = LogisticRegression().fit(X = train[var],
                               y = train.gender)
from sklearn.metrics import precision_score
pred = logit.predict(test[var])
from sklearn.metrics import classification_report
print(classification_report(test.gender, pred))

In [272]:
train, test = train_test_split(df, random_state=123, test_size=0.3)

In [273]:
from sklearn.linear_model import LinearRegression

In [274]:
var=df.columns.drop('gender')

In [276]:
logit = LogisticRegression().fit(X = train[var],
                               y = train.gender)

In [278]:
from sklearn.metrics import precision_score

In [279]:
pred = logit.predict(test[var])

In [280]:
from sklearn.metrics import classification_report

In [281]:
print(classification_report(test.gender, pred))

              precision    recall  f1-score   support

      Female       0.97      0.96      0.96       743
        Male       0.96      0.97      0.97       758

    accuracy                           0.97      1501
   macro avg       0.97      0.97      0.97      1501
weighted avg       0.97      0.97      0.97      1501