In [1]:
import pandas as pd
from sklearn.metrics import mean_squared_error #

In [2]:
ser_true_value = pd.Series([1, 2, 3, 4, 5, 6, 7, 8])
ser_pred_value = pd.Series([2, 1, 4 ,3, 2, 5, 7, 6])

In [3]:
mean_squared_error(y_true = ser_true_value,
                   y_pred = ser_pred_value)

2.25

In [4]:
mean_squared_error(y_true = ser_true_value,
                   y_pred = ser_pred_value) ** 0.5 #RMSE

1.5

In [5]:
from sklearn.model_selection import train_test_split #

In [6]:
bike = pd.read_csv("DS_lv1/bike.csv")
bike.head(1)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16

In [7]:
bike_train, bike_test = train_test_split(bike, train_size = 0.7) # train 70%
print(len(bike_train))
print(len(bike_test))

7620
3266

In [20]:
bike_train, bike_test = train_test_split(bike, train_size = 0.7,
                                         random_state = 123) # 샘플링 결과 고정
bike_train.head(1)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4046,2011-09-19 15:00:00,3,0,1,2,24.6,30.305,60,15.0013,44,143,187

In [11]:
bike_train = bike_train.reset_index(drop = True) # 인덱스 초기화
bike_train.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-09-19 15:00:00,3,0,1,2,24.60,30.305,60,15.0013,44,143,187
1,2012-09-09 07:00:00,3,0,0,1,22.14,25.760,73,11.0014,20,50,70

In [1]:
iris = pd.read_excel("DS_lv1/iris_xlsx.xlsx")
iris.head(1)

NameError: name 'pd' is not defined

In [32]:
iris_sub = iris.iloc[:2, :-1] # 첫 두번째 row 와 마지막 변수를 제외한 나머지 변수
iris_sub.columns = ["A", "B", "C", "D"]
iris_sub

     A    B    C    D
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2

In [33]:
iris_sub_t = iris_sub.transpose() #전치
iris_sub_t

     0    1
A  5.1  4.9
B  3.5  3.0
C  1.4  1.4
D  0.2  0.2

In [34]:
iris_sub_t["diff_sq"] = (iris_sub_t[0] - iris_sub_t[1]) ** 2 #제곱
iris_sub_t

     0    1  diff_sq
A  5.1  4.9     0.04
B  3.5  3.0     0.25
C  1.4  1.4     0.00
D  0.2  0.2     0.00

In [37]:
iris_sub_t["diff_sq"].sum() ** 0.5 # 루트

0.5385164807134502

In [38]:
from scipy.spatial.distance import euclidean

In [39]:
euclidean(iris_sub_t[0], iris_sub_t[1])

0.5385164807134502

In [40]:
iris.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

### Q1 Sepal.Length 변수를 Min_Max 정규화를 실시하여 최소값이 0, 최대값이 1인 배열로 변경하고 이를 iris 객체의 SL_MM변수에 저장하시오.

In [57]:
iris["Sepal.Length"].max()

7.9

In [58]:
iris["Sepal.Length"].min()

4.3

In [59]:
iris_sub = iris["Sepal.Length"]

In [63]:
iris["SL_MM"] = (iris_sub - iris_sub.min()) / (iris_sub.max() - iris_sub.min())

In [64]:
iris.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species     SL_MM
0           5.1          3.5           1.4          0.2  setosa  0.222222
1           4.9          3.0           1.4          0.2  setosa  0.166667

In [66]:
print(iris["SL_MM"].max())
print(iris["SL_MM"].min())

1.0
0.0

### Q2. Petal.Length 변수를 표준화하여 iris 객체의 PL_std 변수에 저장하시오.

In [100]:

iris_sub_max = iris["Petal.Length"].max()
iris_sub_min = iris["Petal.Length"].min()

In [102]:
iris["PL_std"] = (iris["Petal.Length"] - iris_sub_min) / (iris_sub_max - iris_sub_min)

In [103]:
iris.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species    PL_std
0           5.1          3.5           1.4          0.2  setosa  0.067797
1           4.9          3.0           1.4          0.2  setosa  0.067797

In [104]:
iris["PL_std"].max()

1.0

In [105]:
iris["PL_std"].min()

0.0

### Q3. Min_Max 정규화를 실시하는 사용자 정의 함수 nor_mm을 만드시오
- 단, nor_mm() 함수의 입력은 숫자를 원소로하는 Pandas Series 객체로 한정한다.

In [106]:
import pandas as pd

In [ ]:
def nor_mm(a):
    return (x - x.min()) / (x.max() - x.min())

def nor_mm(a):
    return (x - min(x)) / (max(x) - min(x))

def nor_mm(a):
    x_min = x.min()
    x_max = x.max()
    return (x - x_min)/(x_max - x_min)

def nor_mm(a):
    x_min = x.min()
    x_max = x.max()
    result =  (x - x_min) / (x_max - x_min)
    return result

## Q4. 표준화를 실시하는 사용자 정의 함수 nor_std를 만드시오.
-단, nor_std() 함수의 입력은 숫자를 원소로 하는 Pandas Series 객체를 한정한다.

In [129]:
import pandas as pd

In [132]:
def nor_std(x):
    return (x - x.mean())/(x.std())

In [134]:
ser = pd.Series([1,2,3,4,5])
ser_std = nor_std(ser)
print(ser_std.mean())
print(ser_std.std())

4.4408920985006264e-17
1.0

-------------------------------------------------------------------

In [135]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [137]:
# 데이터프레임 구조 유지를 위해 대괄호를 2개 씀, 하나만 쓸경우 Series 형태
model_mm = MinMaxScaler().fit(X = iris[["Sepal.Length"]]) 
model_mm

MinMaxScaler()

In [140]:
nor_SL = model_mm.transform(iris[["Sepal.Length"]]) 
nor_SL[:5]

array([[0.22222222],
       [0.16666667],
       [0.11111111],
       [0.08333333],
       [0.19444444]])

In [141]:
print(nor_SL.min())
print(nor_SL.max())

0.0
1.0

In [143]:
# 학습하자마자 변환을 하겠다. 바로 처리
SL_mm_test1 = MinMaxScaler().fit_transform(iris[["Sepal.Length"]]) 
SL_mm_test1[:5]
print(SL_mm_test1.min())
print(SL_mm_test1.max())

0.0
1.0

In [144]:
SL_mm_test2 = MinMaxScaler().fit_transform(iris.loc[:3, ["Sepal.Length"]])
SL_mm_test2

array([[1. ],
       [0.6],
       [0.2],
       [0. ]])

In [146]:
model_mm_test=MinMaxScaler().fit(iris[["Sepal.Length"]])
model_mm_test.transform(iris.loc[:3, ["Sepal.Length"]])

array([[0.22222222],
       [0.16666667],
       [0.11111111],
       [0.08333333]])