In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv("Dataset_01.csv")

In [3]:
df_1.head(2)

     TV     Radio  Social_Media Influencer      Sales
0  16.0  6.566231      2.907983       Mega  54.732757
1  13.0  9.237765      2.409567       Mega  46.677897

In [4]:
df_1.isna().sum()

TV              10
Radio            4
Social_Media     6
Influencer       0
Sales            6
dtype: int64

In [5]:
df_1.isna().sum().sum()

26

In [6]:
df_1.corr()

                    TV     Radio  Social_Media     Sales
TV            1.000000  0.869460      0.528168  0.999497
Radio         0.869460  1.000000      0.607452  0.869105
Social_Media  0.528168  0.607452      1.000000  0.528906
Sales         0.999497  0.869105      0.528906  1.000000

In [16]:
from sklearn.linear_model import LinearRegression

In [19]:
df_1=df_1.dropna()

In [20]:
model = LinearRegression().fit(X=df_1[['TV']],y=df_1['Sales'])

In [24]:
model.coef_

array([3.56151409])

In [25]:
df_2 = pd.read_csv("Dataset_02.csv")

In [27]:
df_2_cond3 = (df_2['BP'] == 'HIGH')&(df_2['Cholesterol']=='NORMAL')&(df_2['Sex']=='F')

In [29]:
df_2_cond3.sum()

21

In [31]:
df_2['Age_gr'] = pd.cut(df_2['Age'], bins=[0,20,30,40,50,60,100],
                        labels=[10,20,30,40,50,60])

In [32]:
df_2['Na_to_gr'] = pd.cut(df_2['Na_to_K'], bins=[0,10,20,30,100],
                          labels=['Lv1','Lv2','Lv3','Lv4'])

In [33]:
from scipy.stats import chi2_contingency

In [34]:
chi2_contingency(pd.crosstab(df_2['Sex'],df_2['Drug']))

(2.119248418109203,
 0.7138369773987128,
 4,
 array([[43.68, 11.04,  7.68,  7.68, 25.92],
        [47.32, 11.96,  8.32,  8.32, 28.08]]))

In [35]:
df_2['Sex_cd'] = (df_2['Sex']=='F')+0

In [36]:
df_2.head(2)

   Age Sex    BP Cholesterol  Na_to_K   Drug Age_gr Na_to_gr  Sex_cd
0   23   F  HIGH        HIGH   25.355  DrugY     20      Lv3       1
1   47   M   LOW        HIGH   13.093  drugC     40      Lv2       0

In [37]:
df_2['BP_cd'] = df_2['BP'].replace({'LOW':0,'NORMAL':1,'HIGH':2})

In [38]:
df_2.head(2)

   Age Sex    BP Cholesterol  Na_to_K   Drug Age_gr Na_to_gr  Sex_cd  BP_cd
0   23   F  HIGH        HIGH   25.355  DrugY     20      Lv3       1      2
1   47   M   LOW        HIGH   13.093  drugC     40      Lv2       0      0

In [39]:
df_2['Ch_cd'] = df_2['Cholesterol'].replace({'NORMAL':0, 'HIGH':1})

In [40]:
from sklearn.tree import DecisionTreeClassifier

In [41]:
df_2_x = df_2[['Age','Na_to_K','Sex_cd','BP_cd','Ch_cd']]

In [42]:
model = DecisionTreeClassifier().fit(df_2_x, y = df_2['Drug'])

In [43]:
from sklearn.tree import export_graphviz

In [44]:
print( export_graphviz(model, feature_names=['Age','Na_to_K','Sex_cd','BP_cd','Ch_cd']))

digraph Tree {
node [shape=box] ;
0 [label="Na_to_K <= 14.829\ngini = 0.694\nsamples = 200\nvalue = [91, 23, 16, 16, 54]"] ;
1 [label="BP_cd <= 1.5\ngini = 0.667\nsamples = 109\nvalue = [0, 23, 16, 16, 54]"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="BP_cd <= 0.5\ngini = 0.353\nsamples = 70\nvalue = [0, 0, 0, 16, 54]"] ;
1 -> 2 ;
3 [label="Ch_cd <= 0.5\ngini = 0.498\nsamples = 34\nvalue = [0, 0, 0, 16, 18]"] ;
2 -> 3 ;
4 [label="gini = 0.0\nsamples = 18\nvalue = [0, 0, 0, 0, 18]"] ;
3 -> 4 ;
5 [label="gini = 0.0\nsamples = 16\nvalue = [0, 0, 0, 16, 0]"] ;
3 -> 5 ;
6 [label="gini = 0.0\nsamples = 36\nvalue = [0, 0, 0, 0, 36]"] ;
2 -> 6 ;
7 [label="Age <= 50.5\ngini = 0.484\nsamples = 39\nvalue = [0, 23, 16, 0, 0]"] ;
1 -> 7 ;
8 [label="gini = 0.0\nsamples = 23\nvalue = [0, 23, 0, 0, 0]"] ;
7 -> 8 ;
9 [label="gini = 0.0\nsamples = 16\nvalue = [0, 0, 16, 0, 0]"] ;
7 -> 9 ;
10 [label="gini = 0.0\nsamples = 91\nvalue = [91, 0, 0, 0, 0]"] ;
0 -> 10 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
}

In [49]:
df_3 = pd.read_csv('Dataset_03.csv')

In [52]:
df_3['forehead_ratio'] = df_3['forehead_width_cm']/df_3['forehead_height_cm']

In [53]:
from scipy.stats import ttest_ind

In [54]:
ttest_ind(df_3.loc[df_3['gender']=='Male','forehead_ratio'],
          df_3.loc[df_3['gender']=='Female', 'forehead_ratio'],
          equal_var=False)

Ttest_indResult(statistic=2.9994984197511543, pvalue=0.0027186702390657176)

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
df_3['gender'] = (df_3['gender']=='Male')+0

In [57]:
df_3.head(2)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender,forehead_ratio
0,1,11.8,6.1,1,0,1,1,1,1.934426
1,0,14.0,5.4,0,0,1,0,0,2.592593

In [58]:
train,test=train_test_split(df_3.iloc[:,:-1],
                            test_size=0.3,
                            random_state=123)

In [59]:
from sklearn.linear_model import LogisticRegression

In [63]:
model=LogisticRegression().fit(X=train.drop('gender',axis=1),y=train['gender'])

In [66]:
pred = model.predict_proba(test.drop('gender',axis=1))

In [69]:
model.coef_

array([[-0.19523081,  0.73711264,  0.9901466 ,  3.65906586,  3.55063906,
         3.35220836,  3.62923323]])