In [1]:
# "Dataset_02.csv"

### 1. 해당 데이터에 대한 EDA를 수행하고, 여성으로 혈압이 High, Cholesterol이 Normal인 환자의 전체에 대비한 비율이 얼마인지 소수점 네 번째 자리에서 반올림하여 소수점 셋째 자리까지 기술하시오.
(답안 예시) 0.123

In [5]:
import pandas as pd
df = pd.read_csv("Dataset_02.csv")
df.head(10)

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY
5   22   F  NORMAL        HIGH    8.607  drugX
6   49   F  NORMAL        HIGH   16.275  DrugY
7   41   M     LOW        HIGH   11.037  drugC
8   60   M  NORMAL        HIGH   15.171  DrugY
9   43   M     LOW      NORMAL   19.368  DrugY

In [6]:
df_condi = df.loc[(df["BP"] == "HIGH") & (df["Cholesterol"] == "NORMAL") & (df["Sex"] == "F")]

print(len(df_condi))

21

-----------------------------------------------

In [7]:
#df_sub = df.loc[() & () & (),]

In [8]:
condi_01 = df["Sex"] == "F"
condi_02 = df["BP"] == "HIGH"
condi_03 = df["Cholesterol"] == "NORMAL"

In [9]:
df_sub = df.loc[condi_01 & condi_02 & condi_03, ]
len(df_sub)

21

In [10]:
round(len(df_sub)/len(df),3)

0.105

### 2. Age, Sex, BP, Cholesterol 및Na_to_k 값이Drug 타입에 영향을 미치는지 확인하기 위하여 아래와 같이 데이터를 변환하고 분석을 수행하시오.
- Age_gr 컬럼을 만들고, Age가 20 미만은 ‘10’, 20부터 30 미만은 ‘20’, 30부터 40 미만은 ‘30, 40부터 50 미만은 40, 50부터 60 미만은,‘50’, 60이상은 ‘60’으로 변환하시오.
- Na_K_gr 컬럼을 만들고Na_to_k 값이 10이하는 ‘Lv1’, 20이하는 ‘Lv2’, 30이하는‘Lv3’, 30 초과는 ‘Lv4’로 변환하시오.
- Sex, BP, Cholesterol, Age_gr, Na_K_gr이Drug 변수와 영향이 있는지 독립성 검정을 수행하시오.
- 검정 수행 결과, Drug 타입과 연관성이 있는 변수는 몇 개인가? 연관성이 있는 변수 가운데 가장큰 p-value를 찾아 소수점 여섯 번째 자리 이하는 버리고 소수점 다섯 번째 자리까지 기술하시오.

※ 독립성검정은 scipy 라이브러리의 함수를 사용하시오.

In [11]:
df["Age_gr"] = df["Age"] // 10 * 10
df.head(2)

   Age Sex    BP Cholesterol  Na_to_K   Drug  Age_gr
0   23   F  HIGH        HIGH   25.355  DrugY      20
1   47   M   LOW        HIGH   13.093  drugC      40

In [12]:
#pd.crosstab(df["Age"], df["Age_gr"])

df.loc[df["Age_gr"] == 70, "Age_gr"] = 60
#pd.crosstab(df["Age"], df["Age_gr"])
pd.cut(pd.Series([1, 2, 5, 11, 15, 23]), bins = [0, 10, 20, 30],
       right = False)

0     [0, 10)
1     [0, 10)
2     [0, 10)
3    [10, 20)
4    [10, 20)
5    [20, 30)
dtype: category
Categories (3, interval[int64]): [[0, 10) < [10, 20) < [20, 30)]

In [13]:
pd.cut(pd.Series([1, 2, 5, 11, 15, 23]), bins = [0, 10, 20, 30],
       right = ["a", "b", "c"])

0     (0, 10]
1     (0, 10]
2     (0, 10]
3    (10, 20]
4    (10, 20]
5    (20, 30]
dtype: category
Categories (3, interval[int64]): [(0, 10] < (10, 20] < (20, 30]]

In [14]:
pd.cut(pd.Series([1, 2, 5, 11, 15, 23]), bins = [0, 10, 20, 30], # 구간 나누기
       labels = ["a", "b", "c"])

0    a
1    a
2    a
3    b
4    b
5    c
dtype: category
Categories (3, object): ['a' < 'b' < 'c']

In [15]:
df["Age_gr"] = pd.cut(df["Age"], bins = [0, 20, 30, 40, 50, 60, 100],
                      labels = [10, 20, 30, 40, 50, 60])
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug Age_gr
0   23   F    HIGH        HIGH   25.355  DrugY     20
1   47   M     LOW        HIGH   13.093  drugC     40
2   47   M     LOW        HIGH   10.114  drugC     40
3   28   F  NORMAL        HIGH    7.798  drugX     20
4   61   F     LOW        HIGH   18.043  DrugY     60

In [16]:
df["Na_K_gr"] = pd.cut(df["Na_to_K"], bins = [0, 10, 20, 30, 100],
                       labels = ["Lv1", "Lv2", "Lv3", "Lv4"])
df.head(2)

   Age Sex    BP Cholesterol  Na_to_K   Drug Age_gr Na_K_gr
0   23   F  HIGH        HIGH   25.355  DrugY     20     Lv3
1   47   M   LOW        HIGH   13.093  drugC     40     Lv2

In [17]:
from scipy.stats import chi2_contingency

In [18]:
pd.crosstab(df["Drug"], df["Sex"])

Sex     F   M
Drug
DrugY  47  44
drugA   9  14
drugB   6  10
drugC   7   9
drugX  27  27

In [19]:
stat, p, dof, v_exp = chi2_contingency(pd.crosstab(df["Drug"], df["Sex"]))
print(round(p, 4))

0.7138

In [20]:
stat, p, dof, v_exp = chi2_contingency(pd.crosstab(df["Drug"], df["Sex"]))
print(round(p, 4))

0.7138

In [21]:
stat, p, dof, v_exp = chi2_contingency(pd.crosstab(df["Drug"], df["BP"]))
print(round(p, 4))

0.0

In [22]:
stat, p, dof, v_exp = chi2_contingency(pd.crosstab(df["Drug"], df["Cholesterol"]))
print(round(p, 6))

0.000596

In [23]:
stat, p, dof, v_exp = chi2_contingency(pd.crosstab(df["Drug"], df["Age_gr"]))
print(round(p, 4))

0.0001

### Q. Sex, BP, Cholesterol 등 세 개의 변수를 다음과 같이 변환하고 의사결정나무를 이용한 분석을 수행하시오
 - Sex 는 M 을 0, F 를 1 로 변환하여 Sex_cd 변수 생성
 - BP 는 LOW 는 0, NORMAL 은 1 그리고 HIGH 는 2 로 변환하여 BP_cd 변수 생성
 - Cholesterol 은 NORMAL 은 0, HIGH 는 1 로 변환하여 Ch_cd 생성
 - Age, Na_to_k , Sex_cd , BP_cd , Ch_cd 를 Feature 로 , Drug 을 Label 로 하여 의사결정나무를 수행하고 Root Node 의 split feature 와 split value 를 기술하시오. 이때 split value 는 소수점 셋째 자리까지 반올림하여 기술하시오.
 
(답안 예시) Age, 12.345

In [24]:
df["Sex_cd"] = (df["Sex"] == "F") + 0
df["BP_cd"] = df["BP"].replace({"LOW" : 0, "NORMAL" : 1, "HIGH" : 2})
df["Ch_cd"] = (df["Cholesterol"] == "HIGH") + 0
df.head()

,Age,Sex,BP,Cholesterol,Na_to_K,Drug,Age_gr,Na_K_gr,Sex_cd,BP_cd,Ch_cd
0,23,F,HIGH,HIGH,25.355,DrugY,20,Lv3,1,2,1
1,47,M,LOW,HIGH,13.093,drugC,40,Lv2,0,0,1
2,47,M,LOW,HIGH,10.114,drugC,40,Lv2,0,0,1
3,28,F,NORMAL,HIGH,7.798,drugX,20,Lv1,1,1,1
4,61,F,LOW,HIGH,18.043,DrugY,60,Lv2,1,0,1

In [25]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz

In [29]:
df_X = df[["Age", "Na_to_K", "Sex_cd", "BP_cd", "Ch_cd"]]

model = DecisionTreeClassifier().fit(X = df_X,
                                     y = df["Drug"])
print(model)

DecisionTreeClassifier()

In [68]:
print(export_graphviz(model,
                      feature_names = ["Age", "Na_to_K", "Sex_cd", "BP_cd", "Ch_cd"]))

digraph Tree {
node [shape=box] ;
0 [label="Na_to_K <= 14.829\ngini = 0.694\nsamples = 200\nvalue = [91, 23, 16, 16, 54]"] ;
1 [label="BP_cd <= 1.5\ngini = 0.667\nsamples = 109\nvalue = [0, 23, 16, 16, 54]"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="BP_cd <= 0.5\ngini = 0.353\nsamples = 70\nvalue = [0, 0, 0, 16, 54]"] ;
1 -> 2 ;
3 [label="Ch_cd <= 0.5\ngini = 0.498\nsamples = 34\nvalue = [0, 0, 0, 16, 18]"] ;
2 -> 3 ;
4 [label="gini = 0.0\nsamples = 18\nvalue = [0, 0, 0, 0, 18]"] ;
3 -> 4 ;
5 [label="gini = 0.0\nsamples = 16\nvalue = [0, 0, 0, 16, 0]"] ;
3 -> 5 ;
6 [label="gini = 0.0\nsamples = 36\nvalue = [0, 0, 0, 0, 36]"] ;
2 -> 6 ;
7 [label="Age <= 50.5\ngini = 0.484\nsamples = 39\nvalue = [0, 23, 16, 0, 0]"] ;
1 -> 7 ;
8 [label="gini = 0.0\nsamples = 23\nvalue = [0, 23, 0, 0, 0]"] ;
7 -> 8 ;
9 [label="gini = 0.0\nsamples = 16\nvalue = [0, 0, 16, 0, 0]"] ;
7 -> 9 ;
10 [label="gini = 0.0\nsamples = 91\nvalue = [91, 0, 0, 0, 0]"] ;
0 -> 10 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
}

In [70]:
df_sample = pd.DataFrame({"ndim" : [1, 2, 3],
                          "shape" : ["A", "B", "C"]})
df_sample

   ndim shape
0     1     A
1     2     B
2     3     C

In [71]:
print(df_sample.ndim)
print(df_sample.shape)
print(df_sample["ndim"])
print(df_sample["shape"])

2
(3, 2)
0    1
1    2
2    3
Name: ndim, dtype: int64
0    A
1    B
2    C
Name: shape, dtype: object