# 다음 퀴즈를 수행하시오.

### Q1. pandas 모듈을 pd로 불러오시오.

In [1]:
import pandas as pd

### Q2. "rating_chocobar.csv"를 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오
(단, df 객체에 저장하시오)

In [18]:
import pandas as pd 
df = pd.read_csv("DS_lv1/rating_chocobar.csv")
type(df)

pandas.core.frame.DataFrame

In [11]:
df

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,NaN,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

### Q3. df의 첫 3개 row를 출력하시오

In [6]:
df.head(3)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo

### Q4. df의 마지막 2개 row를 출력하시오

In [7]:
df.tail(2)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

### Q5. df의 차원을 확인하시오

In [9]:
df.ndim

2

### Q6. df의 row 개수를 확인하시오

In [16]:
print(len(df))
print(df.shape[1])

1795
9

### Q7. df의 column 개수를 확인하시오

In [19]:
df.shape[1]

9

### Q8. df의 column 이름을 확인하시오

In [20]:
df.columns

Index(['Company_Maker_if_known', 'Specific_Bean_Origin_or_Bar_Name', 'REF',
       'Review_Date', 'Cocoa_Percent', 'Company_Location', 'Rating',
       'Bean_Type', 'Broad_Bean_Origin'],
      dtype='object')

### Q9. df의 첫 번째 변수 명을 "aa"로 변경하시오

In [22]:
df = df.rename(columns = {"Company_Maker_if_known" : "aa"})
# df = df.rename(columns = {df.columns[0] : "aa"})
df.head(2)

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo

### Q10. df의 첫 번째, 네 번째, 열 번째 row를 추출하여 df_sub1 객체에 저장하시오

In [41]:
df_sub1 = df.iloc[[0, 3, 9], ]
df_sub1.reset_index()

,index,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
2,9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru

### Q11. df의 index 번호가 짝수인 것만 추출하여 df_sub2 객체에 저장하시오

In [43]:
df_sub2 = df.iloc[2:len(df):2, ]
df_sub2.head()

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
6,A. Morin,Cuba,1315,2014,70%,France,3.50,NaN,Cuba
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
10,A. Morin,Panama,1011,2013,70%,France,2.75,NaN,Panama

In [45]:
import numpy as np
df_sub2 = df.iloc[np.arange(2, len(df), 2), ]
df_sub2.head(2)

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
2,A. Morin,Atsane,1676,2015,70%,France,3.0,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.5,NaN,Peru

In [ ]:
df_sub2 = df.iloc[(df.index % 2 == 0), ]

### Q12. df_sub1과 df_sub2를 차례대로 병합하여 df_sub 객체에 저장하시오

In [46]:
df_sub = pd.concat([df_sub1, df_sub2])
df_sub.head(2)

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo

### Q13. df_sub를 "quiz.csv"로 저장하시오.

In [47]:
df_sub.to_csv("quiz.csv", index = False)

In [48]:
import os
print(os.getcwd()) # 작업폴더 확인
print(os.listdir()) # 작업폴더의 폴더 및 파일 확인
1

C:\Users\tkdal\Downloads\Python
['.ipynb_checkpoints', 'car', 'class_211026.ipynb', 'DS_lv1', 'quiz.csv', 'Quiz_set_01_chocobar_attendee.ipynb', '연습문제-20211027T000549Z-001']

1