In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("Dataset_10.csv")
df = df.loc[:, :"price"]
df.head(2)

    model  engine_power  age_in_days     km  previous_owners  price
0  lounge            51          882  25000                1   8900
1     pop            51         1186  32500                1   8800

In [19]:
df_q1 = df.copy()

In [31]:
df_q1 = df_q1.loc[(df_q1["previous_owners"] ==1) & (df_q1["engine_power"] == 51) ]
print(len(df_condi))

1312

In [32]:
df_q1.loc[df_q1["km_per_days"] == df_q1["km_per_days"].min()]

,model,engine_power,age_in_days,km,previous_owners,price,km_per_days
178,lounge,51,1066,1232,1,9900,1.155722

In [ ]:
df_q1.loc[df_q1[""]]