In [1]:
import pandas as pd

1-1

In [2]:
df_1 = pd.read_csv("Dataset_01.csv")

In [3]:
df_1.head(2)

     TV     Radio  Social_Media Influencer      Sales
0  16.0  6.566231      2.907983       Mega  54.732757
1  13.0  9.237765      2.409567       Mega  46.677897

In [6]:
df_1.isna().sum().sum()

26

ans:26

1-2

In [7]:
df_1.corr()

                    TV     Radio  Social_Media     Sales
TV            1.000000  0.869460      0.528168  0.999497
Radio         0.869460  1.000000      0.607452  0.869105
Social_Media  0.528168  0.607452      1.000000  0.528906
Sales         0.999497  0.869105      0.528906  1.000000

ans:0.9995

In [8]:
from sklearn.linear_model import LinearRegression

In [10]:
x = df_1['TV']

2-1

In [46]:
df_2 = pd.read_csv('Dataset_02.csv')

In [47]:
df_2.head(20)

    Age Sex      BP Cholesterol  Na_to_K   Drug
0    23   F    HIGH        HIGH   25.355  DrugY
1    47   M     LOW        HIGH   13.093  drugC
2    47   M     LOW        HIGH   10.114  drugC
3    28   F  NORMAL        HIGH    7.798  drugX
4    61   F     LOW        HIGH   18.043  DrugY
5    22   F  NORMAL        HIGH    8.607  drugX
6    49   F  NORMAL        HIGH   16.275  DrugY
7    41   M     LOW        HIGH   11.037  drugC
8    60   M  NORMAL        HIGH   15.171  DrugY
9    43   M     LOW      NORMAL   19.368  DrugY
10   47   F     LOW        HIGH   11.767  drugC
11   34   F    HIGH      NORMAL   19.199  DrugY
12   43   M     LOW        HIGH   15.376  DrugY
13   74   F     LOW        HIGH   20.942  DrugY
14   50   F  NORMAL        HIGH   12.703  drugX
15   16   F    HIGH      NORMAL   15.516  DrugY
16   69   M     LOW      NORMAL   11.455  drugX
17   43   M    HIGH        HIGH   13.972  drugA
18   23   M     LOW        HIGH    7.298  drugC
19   32   F    HIGH      NORMAL   25.974  DrugY

In [48]:
df_2.isna().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [49]:
df_2_cond1 = df_2['BP'] == 'HIGH'

In [50]:
df_2_cond1.sum()

77

In [51]:
df_2_cond2 = df_2['Cholesterol'] == 'NORMAL'

In [52]:
df_2_cond2.sum()

97

In [63]:
df_2_cond3 = (df_2['BP'] == 'HIGH')&(df_2['Cholesterol'] == 'NORMAL')& (df_2['Sex'] == 'F')

In [64]:
df_2_cond3.sum()

21

In [65]:
21/200

0.105

In [66]:
import numpy as np

In [69]:
df_2['Age_gr'] = pd.cut(df_2['Age'], bins = [0,20,30,40,50,60,100]
                        , labels=[10,20,30,40,50,60])

In [71]:
df_2['Na_K_gr'] = pd.cut(df_2['Na_to_K'], bins=[0,10,20,30,100],
                            labels=['Lv1', 'Lv2', 'Lv3','Lv4'])

In [75]:
from scipy.stats import chi2_contingency

In [82]:
chi2_contingency(pd.crosstab(df_2['Sex'],df_2['Drug']))

(2.119248418109203,
 0.7138369773987128,
 4,
 array([[43.68, 11.04,  7.68,  7.68, 25.92],
        [47.32, 11.96,  8.32,  8.32, 28.08]]))

In [83]:
chi2_contingency(pd.crosstab(df_2['BP'],df_2['Drug']))

(143.2328718496999,
 5.0417334144665895e-27,
 8,
 array([[35.035,  8.855,  6.16 ,  6.16 , 20.79 ],
        [29.12 ,  7.36 ,  5.12 ,  5.12 , 17.28 ],
        [26.845,  6.785,  4.72 ,  4.72 , 15.93 ]]))

In [84]:
chi2_contingency(pd.crosstab(df_2['Cholesterol'],df_2['Drug']))

(19.609657681313475,
 0.0005962588389856497,
 4,
 array([[46.865, 11.845,  8.24 ,  8.24 , 27.81 ],
        [44.135, 11.155,  7.76 ,  7.76 , 26.19 ]]))

In [85]:
chi2_contingency(pd.crosstab(df_2['Age_gr'],df_2['Drug']))

(52.129250689904254,
 0.00010902142317924978,
 20,
 array([[ 7.28 ,  1.84 ,  1.28 ,  1.28 ,  4.32 ],
        [14.56 ,  3.68 ,  2.56 ,  2.56 ,  8.64 ],
        [17.745,  4.485,  3.12 ,  3.12 , 10.53 ],
        [18.2  ,  4.6  ,  3.2  ,  3.2  , 10.8  ],
        [15.015,  3.795,  2.64 ,  2.64 ,  8.91 ],
        [18.2  ,  4.6  ,  3.2  ,  3.2  , 10.8  ]]))

In [86]:
chi2_contingency(pd.crosstab(df_2['Na_K_gr'],df_2['Drug']))

(93.31006327437028,
 1.1254641594413981e-14,
 12,
 array([[17.29 ,  4.37 ,  3.04 ,  3.04 , 10.26 ],
        [52.325, 13.225,  9.2  ,  9.2  , 31.05 ],
        [15.925,  4.025,  2.8  ,  2.8  ,  9.45 ],
        [ 5.46 ,  1.38 ,  0.96 ,  0.96 ,  3.24 ]]))

In [94]:
df_2['Sex_cd'] = (df_2['Sex']=='F')+0

In [95]:
df_2.head(2)

   Age Sex    BP Cholesterol  Na_to_K   Drug Age_gr Na_K_gr  Sex_cd
0   23   F  HIGH        HIGH   25.355  DrugY     20     Lv3       1
1   47   M   LOW        HIGH   13.093  drugC     40     Lv2       0

In [98]:
df_2['BP_cd']=df_2['BP'].replace({'LOW':0,'NORMAL':1,'HIGH':2})

In [99]:
df_2.head(2)

   Age Sex    BP Cholesterol  Na_to_K   Drug Age_gr Na_K_gr  Sex_cd  BP_cd
0   23   F  HIGH        HIGH   25.355  DrugY     20     Lv3       1      2
1   47   M   LOW        HIGH   13.093  drugC     40     Lv2       0      0

In [100]:
df_2['Ch_cd'] = df_2['Cholesterol'].replace({"NORMAL":0, "HIGH":1})

In [102]:
from sklearn.tree import DecisionTreeClassifier

In [103]:
df_2_x = df_2[['Age', 'Na_to_K','Sex_cd','BP_cd','Ch_cd']]

In [105]:
model = DecisionTreeClassifier().fit(df_2_x,y=df_2['Drug'])

In [107]:
from sklearn.tree import export_graphviz

In [108]:
print(export_graphviz(model, feature_names=['Age','Na_to_K','Sex_cd','BP_cd','Ch_cd']))

digraph Tree {
node [shape=box] ;
0 [label="Na_to_K <= 14.829\ngini = 0.694\nsamples = 200\nvalue = [91, 23, 16, 16, 54]"] ;
1 [label="BP_cd <= 1.5\ngini = 0.667\nsamples = 109\nvalue = [0, 23, 16, 16, 54]"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="BP_cd <= 0.5\ngini = 0.353\nsamples = 70\nvalue = [0, 0, 0, 16, 54]"] ;
1 -> 2 ;
3 [label="Ch_cd <= 0.5\ngini = 0.498\nsamples = 34\nvalue = [0, 0, 0, 16, 18]"] ;
2 -> 3 ;
4 [label="gini = 0.0\nsamples = 18\nvalue = [0, 0, 0, 0, 18]"] ;
3 -> 4 ;
5 [label="gini = 0.0\nsamples = 16\nvalue = [0, 0, 0, 16, 0]"] ;
3 -> 5 ;
6 [label="gini = 0.0\nsamples = 36\nvalue = [0, 0, 0, 0, 36]"] ;
2 -> 6 ;
7 [label="Age <= 50.5\ngini = 0.484\nsamples = 39\nvalue = [0, 23, 16, 0, 0]"] ;
1 -> 7 ;
8 [label="gini = 0.0\nsamples = 23\nvalue = [0, 23, 0, 0, 0]"] ;
7 -> 8 ;
9 [label="gini = 0.0\nsamples = 16\nvalue = [0, 0, 16, 0, 0]"] ;
7 -> 9 ;
10 [label="gini = 0.0\nsamples = 91\nvalue = [91, 0, 0, 0, 0]"] ;
0 -> 10 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
}

In [ ]:
export_graphviz(model, feature_names=['Age','Na_to_K','Sex_cd','BP_cd','Ch_cd'])

3-1

In [109]:
df_3 = pd.read_csv('Dataset_03.csv')

In [111]:
df_3.isna().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [116]:
df_3['forehead_ratio'] = df_3['forehead_width_cm']/df_3['forehead_height_cm']

In [119]:
df_mean=df_3['forehead_ratio'].mean()

In [120]:
df_std=df_3['forehead_ratio'].std()

In [122]:
df_con_1 = df_mean-3*df_std

In [123]:
df_con_2 = df_mean+3*df_std

In [127]:
(df_3['forehead_ratio']>df_con_2).sum()

3

In [130]:
from scipy.stats import ttest_ind

In [140]:
ttest_ind(df_3.loc[df_3['gender']=='Male', 'forehead_ratio'], 
          df_3.loc[df_3['gender']=='Female', 'forehead_ratio'],
          equal_var=False)

Ttest_indResult(statistic=2.9994984197511543, pvalue=0.0027186702390657176)

In [142]:
from sklearn.model_selection import train_test_split

In [143]:
df_3['gender'] = (df_3['gender']=='Male')+0

In [146]:
df_train, df_test = train_test_split(df_3.iloc[:,:-1],
                                     train_size = 0.7,
                                     random_state=123)

In [154]:
df_3.iloc[:,:-1]

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,1
1,0,14.0,5.4,0,0,1,0,0
2,0,11.8,6.3,1,1,1,1,1
3,0,14.4,6.1,0,1,1,1,1
4,1,13.5,5.9,0,0,0,0,0
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,0
4997,1,11.9,5.4,0,0,0,0,0
4998,1,12.9,5.7,0,0,0,0,0
4999,1,13.2,6.2,0,0,0,0,0
5000,1,15.4,5.4,1,1,1,1,1

In [1]:
from sklearn.linear_model import LogisticRegression

In [180]:
model=LogisticRegression().fit(X=df_train.drop('gender',axis=1),y=df_train['gender'])

In [185]:
print(model)

LogisticRegression()

In [168]:
pred = model.predict_proba(df_test.drop('gender',axis=1))

In [176]:
pred

array([[2.13366044e-02, 9.78663396e-01],
       [8.97496054e-05, 9.99910250e-01],
       [2.54440411e-01, 7.45559589e-01],
       ...,
       [9.63308173e-01, 3.66918274e-02],
       [8.55088606e-05, 9.99914491e-01],
       [1.37076239e-04, 9.99862924e-01]])

In [172]:
pred_class=(pred[:,1]>0.5)+0

In [188]:
pred_class

array([1, 1, 1, ..., 0, 1, 1])

In [174]:
from sklearn.metrics import precision_score

In [175]:
precision_score(y_true=df_test['gender'], y_pred=pred_class)

0.9596354166666666

4

In [189]:
df_4 = pd.read_csv('Dataset_04.csv')

In [190]:
df_4.head(2)

  LOCATION SUBJECT  TIME      Value
0      AUS    BEEF  1991  27.721815
1      AUS    BEEF  1992  26.199591

In [191]:
df_4.isna().sum()

LOCATION    0
SUBJECT     0
TIME        0
Value       0
dtype: int64

In [193]:
df_4.loc[df_4['LOCATION']=='KOR']

    LOCATION SUBJECT  TIME     Value
442      KOR    BEEF  1991  5.085481
443      KOR    BEEF  1992  5.685434
444      KOR    BEEF  1993  5.325765
445      KOR    BEEF  1994  5.698819
446      KOR    BEEF  1995  6.568429
..       ...     ...   ...       ...
583      KOR   SHEEP  2022  0.197951
584      KOR   SHEEP  2023  0.199098
585      KOR   SHEEP  2024  0.200266
586      KOR   SHEEP  2025  0.201451
587      KOR   SHEEP  2026  0.202656

[146 rows x 4 columns]

In [196]:
tab = pd.pivot_table(df_4,
                     values='Value',
                     index='TIME',
                     aggfunc=sum).reset_index()

In [198]:
tab.corr()

           TIME     Value
TIME   1.000000  0.958466
Value  0.958466  1.000000

In [199]:
df_4.loc[df_4['LOCATION']=='KOR']

    LOCATION SUBJECT  TIME     Value
442      KOR    BEEF  1991  5.085481
443      KOR    BEEF  1992  5.685434
444      KOR    BEEF  1993  5.325765
445      KOR    BEEF  1994  5.698819
446      KOR    BEEF  1995  6.568429
..       ...     ...   ...       ...
583      KOR   SHEEP  2022  0.197951
584      KOR   SHEEP  2023  0.199098
585      KOR   SHEEP  2024  0.200266
586      KOR   SHEEP  2025  0.201451
587      KOR   SHEEP  2026  0.202656

[146 rows x 4 columns]

In [200]:
df_4.loc[df_4['LOCATION']=='JPN']

    LOCATION SUBJECT  TIME     Value
294      JPN    BEEF  1990  6.111035
295      JPN    BEEF  1991  6.517055
296      JPN    BEEF  1992  6.766244
297      JPN    BEEF  1993  7.406407
298      JPN    BEEF  1994  8.129090
..       ...     ...   ...       ...
437      JPN   SHEEP  2022  0.134228
438      JPN   SHEEP  2023  0.131138
439      JPN   SHEEP  2024  0.128078
440      JPN   SHEEP  2025  0.125060
441      JPN   SHEEP  2026  0.122136

[148 rows x 4 columns]

In [205]:
table = df_4.loc[(df_4['LOCATION']=='JPN')|(df_4['LOCATION']=='KOR')]

In [230]:
tab_2 = pd.pivot_table(table,
                       values='Value',
                       index=['TIME','SUBJECT'],
                       columns='LOCATION')

In [245]:
tab_2=tab_2.dropna().reset_index()

In [246]:
tab_2.head(6)

LOCATION  TIME  SUBJECT        JPN       KOR
0         1990  POULTRY  12.844865  5.570102
1         1990    SHEEP   0.756696  0.204153
2         1991     BEEF   6.517055  5.085481
3         1991      PIG  13.239267  9.930182
4         1991  POULTRY  12.055422  6.738203
5         1991    SHEEP   0.772785  0.157341

In [233]:
from scipy.stats import ttest_rel

In [269]:
tab_2_1 = tab_2.loc[tab_2['SUBJECT']=="PIG"]

In [270]:
ttest_rel(tab_2_1['JPN'],tab_2_1['KOR'])

Ttest_relResult(statistic=-9.055645878132264, pvalue=1.0635000422516487e-10)

In [271]:
tab_2_1 = tab_2.loc[tab_2['SUBJECT']=="POULTRY"]

In [272]:
ttest_rel(tab_2_1['JPN'],tab_2_1['KOR'])

Ttest_relResult(statistic=0.7317427316277376, pvalue=0.4690625508910583)

In [273]:
tab_2_1 = tab_2.loc[tab_2['SUBJECT']=="SHEEP"]

In [274]:
ttest_rel(tab_2_1['JPN'],tab_2_1['KOR'])

Ttest_relResult(statistic=4.650669254032911, pvalue=4.3466425225322944e-05)

In [275]:
tab_2_1 = tab_2.loc[tab_2['SUBJECT']=="BEEF"]

In [276]:
ttest_rel(tab_2_1['JPN'],tab_2_1['KOR'])

Ttest_relResult(statistic=-3.956315918475474, pvalue=0.0003541915661863236)

In [324]:
table_1 = df_4.loc[(df_4['LOCATION']=='KOR')]
len(table_1)

146

In [315]:
from sklearn.linear_model import LinearRegression

In [316]:
var = df_4.SUBJECT.unique()

In [330]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

In [333]:
for i in var:
    temp=df_4[df_4.SUBJECT==i]
    model = LinearRegression().fit(temp[['TIME']], temp['Value'])
    pred=model.predict(temp[['TIME']])
    r2=model.score(temp[['TIME']], temp['Value'])
    mape=(((abs(temp['Value']-pred))/temp['Value']).sum()*100).mean()
    print(mape)

5603440.271962554
10563717424021.5
66149287.89908177
1878027.8939808772