In [1]:
import pandas as pd

1-1

In [2]:
df_1 = pd.read_csv("Dataset_01.csv")

In [3]:
df_1.head(2)

     TV     Radio  Social_Media Influencer      Sales
0  16.0  6.566231      2.907983       Mega  54.732757
1  13.0  9.237765      2.409567       Mega  46.677897

In [6]:
df_1.isna().sum().sum()

26

ans:26

1-2

In [7]:
df_1.corr()

                    TV     Radio  Social_Media     Sales
TV            1.000000  0.869460      0.528168  0.999497
Radio         0.869460  1.000000      0.607452  0.869105
Social_Media  0.528168  0.607452      1.000000  0.528906
Sales         0.999497  0.869105      0.528906  1.000000

ans:0.9995

In [35]:
from sklearn.linear_model import LinearRegression

In [41]:
df_1 = df_1.dropna()

In [42]:
X = df_1[['TV','Radio','Social_Media']]

In [43]:
y = df_1[['Sales']]

In [44]:
model = LinearRegression().fit(X = df_1[["TV","Radio","Social_Media"]],y = df_1["Sales"])

In [45]:
model.coef_.round(5)

array([ 3.56257, -0.00397,  0.00496])

3.563, 0.005, -0.004